.jumbotron {
	height: 1000px;
}

#controlBar {
	margin: 0 auto;
	width: 1000px;
}

.container {
	width: 1000px;
	height: 800px;
	padding-right: 0px;
	padding-left: 0px;
	cursor: auto;
	text-align: center;
}

#container1, #container2 {
	width: 49%;
	height: 100%;
	padding: 0px;
	border: 2px solid black;
	cursor: auto;
	display: inline-block;
}